/* Colors
Primary
Desaturated Red: hsl(0, 36%, 70%) (text)
Soft Red: hsl(0, 93%, 68%) (Error)
Neutral
Dark Grayish Red: hsl(0, 6%, 24%) (text)
Gradients
Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%) (light: white to pink)
Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) (for email button)

Typography
Body Copy
Font size: 16px
Font
Family: Josefin Sans
Weights: 300, 400, 600 */



/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background: hsl(0, 93%, 98%);
  }
  
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
  }
  
  .left-column {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: space-around;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .right-column {
    background-color:gray;
     width: 60%;
    margin-left: 20px;
    height: 100%;
  }
  
  .logo {
    max-width: 140px;
    margin-bottom: 90px;
    margin-top: 50px;
  }

  .hero-mobile {
    width: 100%;
  }
  
  .hero-image {
    width: 100%;
    /* max-width: 400px; */
    height: auto;
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  .left-text {
    width: 400px;
  } 

  h1 {
    margin-bottom: 15px;
    font-size: 56px;
    letter-spacing: 15px;
  }

  .rose-h1 {
    color: hsl(0, 36%, 70%);
    margin-right: 50px;
    font-weight: 300;
  }

  .black-h1 {
    color: hsl(0, 6%, 24%);
    font-weight: 300;
  }
  
  p {
    font-size: 16px;
    color: hsl(0, 36%, 70%);
    line-height: 1.4;
    margin-bottom: 40px;
  }

  .email-group {
    display: flex;
    flex-direction: row;
    width: 300px;
    position: relative;
  }
  
  .email-input {
    padding: 20px;
    font-size: 16px;
    height: 50px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 50px;
    position: absolute;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .subscribe-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    position: absolute;
    margin-left: 300px;
    width: 100px;
    height: 50px;
  }
  
  .subscribe-button:hover {
    background-color: #555;
  }
  
  @media (min-width: 880px) and (max-width: 1100px) {
    .left-column {
        width: 25%;
        margin-left: 3%;
        gap: 0;
    }
    .right-column {
        width: 75%;
    }
    .left-text {
        width: 250px;
      }
      .email-group {
        width: 100px;
      }
      .email-input {
        width: 250px;
      }
      .subscribe-button {
        margin-left: 175px;
      }
      h1 {
        font-size:52px;
      }
      p {
        font-size:15px
      }
  }

  @media screen and (min-width: 880px) {
    .hero-mobile {
        display: none;
    }
    .left-column {
        width:
    }
  }

  @media screen and (max-width: 880px) {
    .right-column {
        display: none;
    }
    .left-column {
        width: 100%;
    }
    .left-text {
        text-align: center;
    }
    

  }

  @media screen and (max-width: 515px) {
    .left-column {
        margin: 0;
    }
    .left-text {
        width: 100%;
        padding-left: 5px;
        padding-left: 5px;
    }
    .logo {
        margin-left: 20px;
    }
    h1 {
        font-size: 48px;
    }
  }
  